<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Admin</title>
  
  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/skeleton.css">
  <link rel="stylesheet" href="/static/css/admin.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/static/img/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container container-centered">
    <div class="row">
        <div class="three columns">
            <h2 class="heading text-centered">Admin Login</h2>
            <hr>
            <form action='/admin_login' method="post">
                <label for="username">Username</label>
                <input class="input" type="text" name="username" id="username">

                <label for="password">Password</label>
                <input class="input" type="password" name="password" id="password">
            <!-- <div class="row">
                <div class="two-half column">
                    <label for="password">Password</label>
                    <input class="input" type="password" name="password" id="password">
                </div>
            </div> -->
                <br>
                <button class="button-primary" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
