<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Admin Dashboard</title>
  
  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/static/img/favicon.png">

</head>
<body>
    <div class="container">
        <h2>User Information</h2>
        <table class="u-full-width">
            <tbody>
                <tr>
                    <td><b>Username</b></td>
                    <td>{{ data['user_info'][3] }}</td>
                </tr>
                <tr>
                    <td><b>Email</b></td>
                    <td>{{ data['user_info'][1] }}</td>
                </tr>
                <tr>
                    <td><b>Date created on</b></td>
                    <td>{{ data['user_info'][4] }}</td>
                </tr>
                <tr>
                    <td><b>Lists created by user</b></td>
                    <td></td>
                </tr>
                {% for list_name in data['list_names'] %}
                <tr>
                    <td>  -  {{ list_name[0] }}</td>                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <form action="/admin/users/delete_user" method="post">
            <button type="submit" class="button-primary" name="user_id" value="{{ data['user_info'][0] }}">Delete User</button>
        </form>
    </div>
</body>
</html>