{% extends "main_structure.html" %}

{% block main %}
    <h2>About Myself:</h2>
    <div id="about_paragraph">
        <img height="195" width="295" src="static/img/tomb_raider.jpg" style="float: left">
        <p id="about_text">
            My name is <i>First_Name Last_Name</i>. I hail from South East Asia. <br><br>
            Currently, I am residing in Europe.<br><br><br>
            I am taking this course to aquaint myself with web development in Python.<br><br>
            Hope to be a more well-rounded developer by the end of it!
        </p>
    </div>
{% endblock main %}