{% extends "main_structure.html" %}

{% block head %}
    <title>About Us</title>
{% endblock %}


{% block body %}
    <body class="about_body">

        <h2>About Us</h2>

        <p >
            We are a team of Software Engineers primarily experienced in the domain of <b>Machine Learning</b>.
            <br><br>
            Currently, we are getting some hands-on experience with <b>Web Development</b> to gain a better <br>
            understanding of and familiarity with the development of the interwebz.
        </p>

    </body>
{% endblock %}