{% extends "main_structure.html" %}

{% block head %}
    <title>Dashboard</title>
{% endblock %}

{% block body %}
<body class="dashboard_body"></body>
    <h2>Welcome, {{ data['username'] }}!</h2>
    <p>This is the page the user is taken to after a successful login</p>
    <br><br><br>
    <p>Here, you can view all your lists</p>

    <!-- <ul>
        {% for elem in data %}
        <li style="color: white;">
            <button>{{ elem }}</button>
        </li>
        {% endfor %}
    </ul>     -->

    <h2 style="color: whitesmoke;">Current Lists</h2>
    <form action="/display_list" style="color: whitesmoke; font-size: large;" method="post">
        {% for elem in data['list_names'] %}
        <input type="radio" id="{{ elem }}" name="list_name" value="{{elem}}">
        <label for="{{ elem }}">{{elem}}</label><br><br>
        {% endfor %}
        <br>
        <button class="btn-view-list" name="action" type="submit" value="View">View List</button>
        <button class="btn-view-list" name="action" type="submit" value="Delete">Delete List</button>
    </form>

    <br><br><br>

    <div class="add-list-container">
        <h2>
            Add New List
        </h2>
        <form action="/create_new_list", method="post">
            <label for="List name" style="color: whitesmoke;"><b>List name:</b></label><br>
            <input type="text" placeholder="Enter list name" name="list_name" required><br>
            
            <button class="btn-view-list" type="submit">Add Task</button>
        </form>
    </div>

    <a href="/logout">
        <button class="btn-logout">
            <span>Logout</span>
        </button>
    </a>
</body>
    
{% endblock %}