<!DOCTYPE html>
<html lang='en'>

    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="icon" href="data:,">
        {% block head %}
        <title>ToDo List</title>
        {% endblock head %}
    </head>

    {% block body %}
    <body class="main_body">
        <p style="color: greenyellow; font-size: 48px; position: absolute; left: 105px; top: 10px;"><b>To-Do List!</b></p>

        <!-- <img src="../static/img/todo_list.png" alt="Main Image" class="homepage-image"> -->

        <div class="signup-login-forms">

            <div class="login-form-img-container">
                <form action="/login" method="post">
                    <div class="login-img-container">
                        <img src="../static/img/login_avatar.png" alt="Avatar" class="login-avatar">
                    </div>

                    <div class="login-container">
                        <h2 style="color: #04AA6D;"><b>Login</b></h2>
                        <label for="user_email"><b>Email</b></label><br>
                        <input type="text" placeholder="Enter Email" name="user_email" required><br><br>

                        <label for="password"><b>Password</b></label><br>
                        <input type="password" placeholder="Enter Password" name="password" required><br>

                        <button class="btn-login" type="submit">Login</button>

                        <p style="color: red;">{{ login_message }}</p>
                    </div>
                </form>
            </div>

            <div class="vertical-line"></div>

            <div class="signup-form-img-container">
                <form action="/sign_up" method="post">
                    <div class="signup-img-container">
                        <img src="../static/img/signup_avatar.png" alt="Avatar" class="signup-avatar">
                    </div>

                    <div class="signup-container">
                        <h2 style="color: #04AA6D;"><b>Sign up!</b></h2>
                        <label for="user_email"><b>Email</b></label><br>
                        <input type="text" placeholder="Enter Email" name="user_email" required><br><br>

                        <label for="username"><b>Username</b></label><br>
                        <input type="text" placeholder="Enter Username" name="username" required><br><br>

                        <label for="password"><b>Password</b></label><br>
                        <input type="password" placeholder="Enter Password" name="password" required><br>

                        <button class="btn-login" type="submit">Sign up!</button>

                        <p style="color: greenyellow;">{{ signup_message }}</p>
                    </div>
                </form>
            </div>
        </div>

        
        <div class="bottom-buttons">
            <a href="/terms_of_use">
                <button class="btn-go-to-terms-of-use">
                    <span>Terms of Use</span>
                </button>
            </a>
        
            <a href="/about">
                <button class="btn-go-to-about-us">
                    <span>About Us</span>
                </button>
            </a>
        
            <a href="/privacy">
                <button class="btn-go-to-privacy-policy">
                    <span>Privacy Policy</span>
                </button>
            </a>
        </div>
        
    </body>
    {% endblock %}
    
</html>