<!DOCTYPE html>
<html lang='en'>

    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="icon" href="data:,">
        {% block head %}
        <title>ToDo List</title>
        {% endblock head %}
    </head>

    {% block body %}
    <body class="main_body">
        <p>This is the main homepage that anyone sees when they first open the link</p>
        <br><br><br>
        <p>Here the login functionality will exist</p>
        <br><br><br>
        <p>Here, there will also be a button that takes the user to the sign up page</p>
        
    </body>
    {% endblock %}
    
</html>