.main_body {
    background-color: darkslategray;
}

h2, p {
    color: whitesmoke;
}

.btn-go-to-terms-of-use, .btn-go-to-about-us, .btn-go-to-privacy-policy {
    display: inline-block;
    text-align: center;
    border-radius: 6px;
    border: none;
    background-color: gray;
    color: white;
    padding: 20px;
    width: 200px;
    margin: 5px;
    font-size: 18px;
}

.btn-go-to-terms-of-use:hover {
    opacity: 0.8;
}

.btn-go-to-about-us:hover {
    opacity: 0.8;
}

.btn-go-to-privacy-policy:hover {
    opacity: 0.8;
}

.bottom-buttons {
    display: inline-block;
    position: absolute;
    top: 1000px; 
    left: 1850px;
}

.vertical-line {
    border-left: 2px solid white;
    height: 800px;
    margin-top: -2em;
    margin-left: 105em;
    display: inline-block;
    /* box-shadow: 2px 0px 2px white; */
}

/* About_us CSS */

.about_body {
    background-image: url("../img/about_us_background.jpg");
    /* background-attachment: fixed; */
    background-size: cover;
    
}

/* Terms_of_use CSS */
.terms_of_use_body {
    background-color: darkslategray;
}

.terms_of_use_div p {
    color: white;
    text-align: center;
}

.btn-download-terms {
    display: inline-block;
    border-radius: 8px;
    background-color: #287bda;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 200px;
    /* transition: all 0.5s; */
    cursor: pointer;
    margin: 5px;
    position: absolute;
    top: 10%;
    right: 45%;
}
  
.btn-download-terms span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    /* transition: 0.5s; */
}

.btn-download-terms span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.btn-download-terms:hover span {
    padding-right: 25px;
    /* font-size: 18px; */
    text-align: center;
}
  
.btn-download-terms:hover span:after {
    opacity: 1;
    right: 0;
}

