{% extends "main_structure.html" %}

{% block head %}
    <!-- Main CSS -->
    <link rel="stylesheet" href="static/css/signup-signin.css">
    <title>About Us</title>
{% endblock %}


{% block body %}
    <body style="background-image: url('../static/img/about_us_background.jpg'); background-size: cover;">

        <h1 style="color: #fff;"><b>About Us</b></h1>

        <!-- <div class="main"> -->
            <div class="container">
            <p style="text-align: center;">
                We are a team of Software Engineers primarily experienced in the domain of <b>Machine Learning</b>.
                <br><br>
                Currently, we are getting some hands-on experience with <b>Web Development</b> to gain a better <br>
                understanding of and familiarity with the development of the interwebz.
            </p>
        </div>
        <!-- </div> -->

    </body>
{% endblock %}