{% extends "main_structure.html" %}

{% block head %}
    <title>List View</title>
{% endblock %}

{% block body %}
<body class="list_view_body">
    <form action="/list_view_panel" method="post">
        <button type="submit" class="btn-login" name="action" value="home">Home</button>
        <button type="submit" class="btn-login" name="action" value="logout" style="background-color: #f44336;">Logout</button>
    </form>

    <br>
    
    <h2>{{ list_tasks_dict['list_name'] }}</h2>
    <br>
    
    <h3 style="color: greenyellow;">
        Incomplete Tasks:
    </h3>
    <form action="/check_items" method="post">
        {% for task in list_tasks_dict['list_tasks'] %}
        {% if task[2] == 0 %}
        <input type="checkbox" id="{{ task[1] }}" name="task_id" value="{{ task[0] }}">
        <label for="task_name" style="color: white;">{{ task[1] }}</label>
        <br><br>
        {% endif %}
        {% endfor %}
        <button type="submit" name="action" value="Check" class="btn-login">Mark Selected Tasks as <b>Done</b></button>
        <button type="submit" name="action" value="Delete" class="btn-login">Delete Selected Tasks</button>
    </form>

    <h3 style="color: greenyellow;">
        Completed Tasks:
    </h3>
    <form action="/uncheck_items" method="post">
        {% for task in list_tasks_dict['list_tasks'] %}
        {% if task[2] == 1 %}
        <input type="checkbox" id="{{ task[1] }}" name="task_id" value="{{ task[0] }}">
        <label for="task_name" style="color: lightgray;">{{ task[1] }}</label>
        <br><br>
        {% endif %}
        {% endfor %}
        <button type="submit" name="action" value="Check" class="btn-login">Mark Selected Tasks as <b>Undone</b></button>
        <button type="submit" name="action" value="Delete" class="btn-login">Delete Selected Tasks</button>
    </form>
    
    <div class="add_task_container">
        <h2 style="color: greenyellow;">
            Add New Task
        </h2>
        <form action="/add_new_task", method="post">
            <label for="task_name" style="color: whitesmoke;"><b>Task name:</b></label><br>
            <input type="text" placeholder="Enter task name" name="task_name" required><br>

            <button class="btn-add-task" type="submit">Add Task</button>

            {% for msg in get_flashed_messages() %}
            <div class="alert alert-failure">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                {{ msg }}            
            </div>
            {% endfor %}            
            
        </form>
        
    </div>

    <div class="edit_list_name_container">
        <h2 style="color: greenyellow;">
            Edit List Name
        </h2>
        <form action="/edit_list", method="post">
            <label for="updated_list_name" style="color: whitesmoke;"><b>New list name:</b></label><br>
            <input type="text" placeholder="Enter updated list name" name="updated_list_name" required><br>
            
            <button class="btn-add-task" type="submit">Update List</button>
        </form>
    </div>

</body>
    
{% endblock %}